.section-login {
    height: 100vh;
    background: linear-gradient(135deg, #FCCF31 0%, #F55555 100%);
    &-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &-box {
            width: 825px;
            height: 525px;
            background: #fff;
            position: relative;
            border-radius: 10px;
            @include media('>=LGdesktop') {
                width: 1025px;
                height: 725px;
            }
            &__logo {
                background: url('../media/login_and_reg_images/logo.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 160px;
                height: 70px;
                margin-top: 5px;
                @include media('>=LGdesktop') {
                    width: 195px;
                    height: 85px;
                }
            }
            &__main {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .login-form {
                    width: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 80px;
                    @include media('>=LGdesktop') {
                        width: 350px;
                        margin-bottom: 30px;
                    }
                    &__text {
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: bolder;
                        font-size: 20px;
                        text-align: center;
                        color: #000000;
                        letter-spacing: 0.5px;
                        @include media('>=LGdesktop') {
                            font-size: 29px;
                        }
                    }
                    .error {
                        color: #F55555;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        text-align: center;
                        margin-right: 20px;
                        @include media('>=LGdesktop') {
                            margin-right: 0px;
                            font-size: 20px;
                        }
                    }
                    label[for=id_username] {  
                        display: none;
                    }
                    label[for=id_password] {  
                        display: none;
                    }
                    .user_field {
                        width: 260px;
                        height: 50px;
                        background: #D2D2D2;
                        border-radius: 67px;
                        border: none;
                        text-indent: 10px;
                        margin-top: 10px;
                        font-size: 18px;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-weight: 600;
                        background-image: url('../media/login_and_reg_images/account.png');
                        background-repeat: no-repeat;
                        background-size: 21px 21px;
                        background-position: top 16px left 8px;
                        text-indent: 35px;
                        transition: text-indent ease-in-out 0.15s;
                        @include media('>=LGdesktop') {
                            width: 350px;
                            height: 70px;
                            font-size: 22px;
                            background-size: 25px 25px;
                            background-position: top 22px left 9px;
                        }
                    }
                    .user_field:focus {
                        background-image: url('');
                        text-indent: 10px;
                    }
                    .user_field::placeholder {
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        color: #454545;
                        font-size: 18px;
                        text-indent: 35px;
                        @include media('>=LGdesktop') {
                            font-size: 22px;
                        }
                    }
                    .user_field:focus::placeholder {
                        text-indent: 10px;
                    }
                    .password_field {
                        width: 250px;
                        height: 50px;
                        background: #D2D2D2;
                        border-radius: 67px;
                        border: none;
                        text-indent: 10px;
                        margin-top: 10px;
                        font-size: 18px;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-weight: 600;
                        background-image: url('../media/login_and_reg_images/password.png');
                        background-repeat: no-repeat;
                        background-size: 22px 22px;
                        background-position: top 15px left 8px;
                        text-indent: 35px;
                        transition: text-indent ease-in-out 0.15s;
                        @include media('>=LGdesktop') {
                            width: 350px;
                            height: 70px;
                            font-size: 22px;
                            background-size: 27px 27px;
                            background-position: top 21px left 9px;
                        }
                    }
                    .password_field:focus {
                        background-image: url('');
                        text-indent: 10px;
                    }
                    .password_field::placeholder {
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        color: #454545;
                        font-size: 18px;
                        text-indent: 35px;
                        @include media('>=LGdesktop') {
                            font-size: 22px;
                        }
                    }
                    .password_field:focus::placeholder {
                        text-indent: 10px;
                    }
                    .forgot {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 250px;
                        @include media('>=LGdesktop') {
                            width: 350px;
                        }
                        .forgot_password {
                            font-family: 'Montserrat Alternates', sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 22px;
                            text-align: center;
                            color: #252525;
                            text-decoration: none;
                            @include media('>=LGdesktop') {
                                font-size: 14px;
                            }
                        }
                    }
                    .submit {
                        border: none;
                        width: 250px;
                        height: 50px;
                        color: #fff;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 21px;
                        line-height: 29px;
                        background: #4BCE1C;
                        border-radius: 67px;
                        margin-top: 10px;
                        @include media('>=LGdesktop') {
                            width: 350px;
                            height: 70px;
                        }
                    }
                }
                &__register-link {
                    position: absolute;
                    bottom: 20px;
                    left: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include media('>=LGdesktop') {
                        position: absolute;
                        bottom: 20px;
                        left: 160px;
                    }
                    .register {
                        color: #000;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        text-decoration: none;
                        @include media('>=LGdesktop') {
                            font-size: 20px;
                        }
                    }
                    #arrow {
                        background: url('../media/login_and_reg_images/arrow.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 18px;
                        height: 8px;
                        margin-left: 5px;
                        @include media('>=LGdesktop') {
                            width: 24px;
                            height: 14px;
                        }
                    }
                }
                &__image {
                    background: url('../media/login_and_reg_images/man.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 300px;
                    height: 410px;
                    @include media('>=LGdesktop') {
                        width: 385px;
                        height: 500px;
                    }
                }
            }
        }
    }   
}